/* Задаємо основні кольори документу */
:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --hero-image-text: #FFFFFF;
    --futer-text: #E7E9FC;
    --futer-text-studio: #F4F4FD;
    --accent-text-color: #4D5AE5;
    --border-color: #E7E9FC;
    --btn-hov-foc-backcolor: #404BBF;
    --futer-hero-backcolor: #2E2F42;
    --secondary-backcolor: #F4F4FD;
    --basic-backcolor: #FFFFFF;
    --footer-socmedia-hover-backcolor: #31D0AA;
    --costumers-color: #8E8F99;
    --modal-color: #FCFCFC;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Задаємо головний шрифт сторінок */

body {
    font-family: Roboto, sans-serif;
}

/* Скидаэмо браузерні приколи */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding: 0px;
    margin: 0px;
}

img {
    display: block;
}

button {
    cursor: pointer;
}




.logo {
    text-decoration: none;

    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.13;
    color: var(--title-text-color);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-web {
    color: var(--accent-text-color);
}

.header-mobile-container {
    width: 428px;
    padding: 24px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-button {
    width: 32px;
    height: 22px;
}